.container{
    width: 428px !important;
    height: 928px !important;
    font-family: 'Montserrat';
    text-align: center;
    padding: 0px !important;
}

h1{
    margin-top:48px!important;
    font-size: 36px !important;
    font-weight: bold;
}

form{
    text-align: center;
    margin-bottom:32px;
}

.rating-header{
    margin: 10px;
    text-align: left;
}

h6{
    margin-top: 200px;
}

.form-control{
    margin: 10px auto;
    margin-bottom:24px!important;
    padding: 32px 0px 32px 29px!important;
    color: rgba(34, 34, 34, 0.5) !important;
    background-color: #F9F9F9 !important;
}

.rating .form-control{
    height: 210px !important;
    width: 400px!important;
    margin-bottom:24px!important;   
    padding: 32px 18px 32px 29px!important;
}

.btn-primary{
    height: 60px!important;
    width: 400px !important;
    background: #FF7A45 !important;
    border-color: #FF7A45!important;
}

.rating .btn-primary{
    height: 60px!important;
    width: 200px !important;
    border-radius: 15px;
    font-weight: bold;
}

a{
    color: #FF7A45!important;
}

#register{
    margin-top:60px;
}

.form-check{
    margin-top:0px !important;
    margin-left: -40px;
    padding-left: 0px !important;
    margin-bottom:48px;
}

.form-check-input{
    width:20px!important;
    height:20px!important;
}

.form-check-label{
    font-size:16px;
    margin-top: 5px!important;
    margin-left: 10px;
}

.rating input[type=radio] {
    display: none;
}
.rating input + label {
    font-size: 60px;
    -webkit-text-stroke: 1px #FFB800;
    color: #FFB800;
    cursor: pointer;
}

.rating input:checked + label ~ label {
    color:white;
}
.rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}