.container{
    width: 428px !important;
    height: 928px !important;
    font-family: 'Montserrat';
    
}

h1{
    margin-top:48px!important;
    font-size: 36px !important;
    font-weight: bold;
}

form{
    text-align: center;
    margin-bottom:32px;
}

.form-control{
    margin-bottom:24px!important;
    padding: 32px 180px 32px 29px!important;
    color: rgba(34, 34, 34, 0.5) !important;
    background-color: #F9F9F9 !important;
}

.btn-primary{
    height: 58px!important;
    width: 148px !important;
    background: #FF7A45 !important;
    border-color: #FF7A45!important;
    border-radius: 15px;
}

a{
    color: #FF7A45!important;
}

#register{
    margin-top:60px;
}

.form-check{
    margin-top:0px !important;
    margin-left: -40px;
    padding-left: 0px !important;
    margin-bottom:48px;
}

.form-check-input{
    width:20px!important;
    height:20px!important;
}

.form-check-label{
    font-size:16px;
    margin-top: 5px!important;
    margin-left: 10px;
}

.upload-drag-and-drop-box {
    min-height: 150px;
    border: 3px solid #eeeded;
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin-bottom:24px!important;
    background-color: #F9F9F9 !important;
  }
  .upload-drag-and-drop-box:hover {
    min-height: 150px;
    border: 3px solid grey;
    text-align: center;
    background: rgba(68, 177, 250, 0.08);;
    padding: 50px 0px 10px 0px;
  }
  
  .file-type-desc {
    font-size: 18px;
    color: black;
    margin-top: 10px;
    padding-bottom: 5px;
  }
  .drag-drop-text {
    font-size: 20px;
    display: inline-block;
    color: #8c99a5;
    font-weight: normal;
  }
  .fotoprof{
    padding: 5px 5px 5px 5px;
    text-align: center;
  }
  .btn-outline-orange{
    text-align: right;
    border-color: #FF7A45!important;
  }
  .list1{
    font-size: 24px !important;
    font-weight: bold;
    margin-top:22px;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0 !important;
    background-color: #ffffff !important;
    border-radius: 0.3rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0 !important;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.but{
  padding-right: 2 rem;
}
.drop{
  padding:  0.5rem 13rem 0.5rem 1.25rem;
  border-radius: 7px;
}
.down{
padding: 1rem 0rem 2rem 0.5rem;
}