@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body {
  /* background-color: #eee; */
  margin: 0 auto;
}

.container {
  max-width: 428px;
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 428px;
  z-index: 10;
  background-color: lime;
}

nav::after {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #FF7A45;
}

nav input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 36px;
  width: 30px;
  top: 21px;
  left: 20px;
  margin-left: 3px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

nav input[type="checkbox"]:checked ~ .nav-menu {
  display: flex;
}

a {
  text-decoration: none;
}

nav .nav-menu a::after{
  content: '';
  display: block;
  position: relative;
  left: -20px;
  right: 20px;
  width: 260px;
  height: 1px;
  background-color: #fff;
  margin: 10px auto;
}

nav .nav-menu {
  display: none;
  position: absolute;
  top: 80px;
  flex-direction: column;
  height: 90vh;
  width: 320px;
  background-color: #222;
  justify-content: space-between;
}

nav .menu-container, nav .sign-out-container {
  margin: 20px 50px;
  padding-top: 5px;
}

nav .nav-menu .menu-container a, nav .nav-menu .sign-out-container a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0;
}

nav .nav-menu .sign-out-container a{
  color: #FF5E5E;
}

nav .sign-out-container a::after{
  background-color: #FF7A45;
}

nav .nav-container {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav .nav-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  width: 36px;
  height: 30px;
}

nav .nav-hamburger span {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #FF7A45;
  border-radius: 5px;
}
/* end of Navbar */

/* Greeting */
.greeting {
  margin: 30px 30px 0;
  padding-top: 100px;
}

.greeting h5 {
  font-weight: 400;
  font-size: 20px;
}

.greeting h2 {
  font-size: 28px;
}
/* end of Greeting */

/* Articles */
.articles {
  margin-top: 10px;
  min-height: 165px;
}

.articles > h5 {
  font-size: 20px;
  padding: 10px 0 20px 32px;
}

.articles-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: space-between;
}

.image-gradient {
  width: 100%;
  height: 165px;
}

.article {
  position: relative;
  background-position: center;
  margin: 0 10px;
}

.article-image {
  max-width: 286px;
  max-height: 165px;
  border-radius: 10px;
}

.image-gradient, .article-title, .article-read-more {
  display: inline-block;
  position: absolute;
}

.image-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
  border-radius: 10px;
}

.article-title, .article-read-more {
  bottom: 20px;
  color: #fff;
}

.article-title {
  max-width: 200px;
  left: 20px;
  font-size: 22px;
  font-weight: 700;
}

.article-read-more {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}
/* end of Articles */

/* Services (homepage) */
.services {
  margin-top: 20px;
  padding: 32px;
  background-color: #f4f4f4;
  border-radius: 30px;
}

.services h5 {
  font-size: 20px;
}

.services .services-container{
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.services .services-container a {
  text-decoration: none;
  color: unset;
}

.services .services-container a:visited {
  color: unset;
}

.service, .product, .faq {
  max-width: 100px;
  text-align: center;
}

.service-icon-container, .product-icon-container, .faq-icon-container{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.services .service-name {
  font-size: 16px;
}
/* end of Services (homepage) */

/* Promos */
.promos {
  margin-top: 10px;
  padding: 20px;
}

.promos h5 {
  font-size: 20px;
  margin: 0 12px 15px;
}

.promo-image-container {
  text-align: center;
}

.promo {
  margin: 0 auto 20px;
}

.promo-image{
  border-radius: 8px;
}

.promo-text {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
}
/* end of Promos */

/* Products */
.products-page-container, .services-page-container {
  padding-top: 120px;
}

.products-page-container > h3, .services-page-container > h3 {
  margin: 20px 30px;
}

.search-bar {
  margin: auto;
  width: 100%;
  text-align: center;
}

.search-bar .search-input {
  width: 80%;
  height: 50px;
  margin: auto;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0 30px;
}

.search-bar .search-input::placeholder {
  color: #999;
}

.search-bar i {
  position: absolute;
  padding: 16px;
  right: 50px;
}

.products-container {
  background-color: #f4f4f4;
  border-radius: 30px 30px 0 0;
  padding: 0 25px 40px;
  margin-top: 20px;
}
.products-container > h3{
  margin-left: 5px;
  padding-top: 30px;
}

.products-motorcycle, .products-car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  width: 180px; 
  padding: 20px 15px;
  margin-top: 20px;
}

.product-image-container img{
  display: block;
  margin: auto;

}

.product-image-container {
  margin-bottom: 20px;
}

.product-name {
  max-width: 150px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto -5px;
}

.product-rating i {
  color: #F5C115;
  font-size: 10px;
  margin-right: -2px;
}

.product-price {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  width: 100%;
}
/* end of Products */

/* Services page */
.recommendation {
  width: 90%;
  margin: auto;
}

.head-recommend {
  background-color: #FF7A45;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.head-recommend h5, .head-recommend i{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.body-recommend {
  background: rgba(255, 122, 69, 0.15);
  padding: 25px 20px 20px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
}

.body-recommend p {
  font-size: 12px;
  margin-bottom: 10px;
}

.services-page-container .services-container {
  margin-top: 20px;
}

.services-page-container .services-container > h3 {
  margin-left: 30px;
  font-weight: 500;
}

.services-container span.danger {
  color: #FF6666;
}

.service-card {
  width: 90%;
  height: 160px;
  margin: 15px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.service-card img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.service-card .service-info, .service-card .service-btn {
  position: absolute;
  z-index:3;
}

.image-gradient-service {
  background: linear-gradient(81.25deg, #222222 0.89%, rgba(0, 0, 0, 0) 98.47%);
  position: relative;
  display: block;
  width: 100%;
  height: 165px;
  z-index: 2;
}

.service-card .service-info {
  color: #fff;
  left: 30px;
  top: 60px;
}

.service-info .service-name {
  margin-bottom: 10px;
}

.service-info .service-price p {
  font-size: 8px;
  font-weight: 200;
}

.service-info .service-price h5 {
  font-size: 22px;
  font-weight: 700;
}

a.service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #FF7A45;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  right: 30px;
  top: 110px;
}

a.service-btn span {
  color: #fff;
}

.services-container .service-unavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 50px;
  width: 300px;
  text-align: center;
  color: #898989;
  font-size: 16px;
}

.service-unavailable p {
  font-weight: 600;
}

.service-unavailable h6{
  margin-top: 10px;
  font-weight: 400;
}
/* end of Services page */

/* Booking page */
.booking-page-container {
  padding-top: 90px;
}

.booking-page-container h5 {
  font-size: 22px;
}

.booking-header {
  height: 240px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.booking-header img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.booking-header .service-info {
  position: absolute;
  bottom: 30px;
  color: #fff;
  left: 30px;
}

.booking-header .service-name h5 {
  font-size: 30px;
}

.image-gradient-booking {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(75.65deg, #222222 3.87%, rgba(0, 0, 0, 0) 91.59%), url(image.png);
}

.booking-time {
  border-radius: 10px 10px 0 0;
  z-index: 9;
}

.booking-time h5{
  padding: 20px 30px 10px;
}

.date, .time {
  padding: 0px 30px;
}

.booking-time #datetime {
  padding: 10px 30px;
}

.booking-time input {
  width: 309px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 20px;
}

.booking-time .time {
  margin-top: 30px;
}

.booking-time .buttons {
  margin: 30px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.booking-time .back-btn, .booking-time .confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 180px;
  height: 36px;
  padding: 10px 30px;
  border-radius: 3px;
  border: 1px solid #FF7A45;
}

.back-btn {
  background-color: #fff;
  color: #FF7A45;
}

.confirm-btn {
  background-color: #FF7A45;
  color: #fff;
  font-weight: 700;
}
/* end of Booking page */