.container-fluid{
    max-width: 428px !important;
    max-height: 96px !important;
    font-family: 'Montserrat';
}

.container{
    width: 428px !important;
    height: 928px !important;
    font-family: 'Montserrat';
    text-align: center;
}

#conf-nav{
    justify-content: left !important;
}

#conf-strip-oren{
    padding: 0;
}

#strip-oren{
    margin-right: auto;
    margin-left: auto;
}

#logo-mb{
    margin-left: 6px;
}

#logo-prof{
    margin-left: 215px;
}

#bg-coll{
    max-width: 428px !important;
    max-height: 96px !important;
    margin-right: auto;
    margin-left: auto;
}

#navbar{
    max-width: 428px !important;
    height: 96px !important;
    margin-right: auto;
    margin-left: auto;
}

#toggler-nav{
    border-color: black;
}

#icon-nav{
    background-image: url(/images/toggler-nav.png) !important;
}

#h-qa, #h-faq, #h-rt{
    font-weight: bold;
}

#h-qa{
    width: 317px;
    height: 74px;
    font-size: 32px;
    margin: 24px auto 60px auto;
    text-align: center;
}

#h-faq{
    margin: 35px auto 57px auto;
}

#h-rt{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: left;
}

/* h1{
    margin-top:48px!important;
    font-size: 36px !important;
    font-weight: bold;
} */

form{
    text-align: center;
    margin-bottom:32px;
}

.rating-header{
    text-align: left;
}

.form-control{
    margin-bottom:24px!important;
    /* padding: 32px 0px 32px 29px!important; */
    color: rgba(34, 34, 34, 0.5) !important;
    background-color: #F9F9F9 !important;
}

.rating .form-control{
    /* height: 210px !important;
    width: 400px!important; */
    margin-bottom:24px!important;   
    /* padding: 32px 18px 32px 29px!important; */
}

#btn-qa{
    width: 193px;
    height: 63px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 8px;
    background: #FF7A45 !important;
    border-color: #FF7A45!important;
}

#btn-cs{
    font-weight: bold;
    border-radius: 15px;
    background: #FF7A45;
    border-color: #FF7A45;
}

#btn-rt-u{
    width: 75px;
    height: 20px;
    padding: 0;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    background: #FF7A45 !important;
    border-color: #FF7A45!important;
    float: right;
}

#accordionFAQ{
    margin-bottom: 10px;
}

#card-rt{
    width: 357px;
    height: 150px;
    margin: auto auto 20px 35px;
    border-radius: 10px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.18);
}

#tipe-rt{
    text-align: left;
    margin-left: 36px;
    margin-bottom: 17px;
    color: #FF7A45;
    font-size: 14px;
    font-weight: bold;
}

#title-rt{
    text-align: left;
    margin-left: 103px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}

#time-rt{
    text-align: left;
    margin-left: 103px;
    font-size: 11px;
    color: #929292;
    margin-bottom: 0px;
}

#harga-rt{
    text-align: left;
    margin-left: 103px;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 0px;
}

#btn-src-img{
    width: 28px;
    height: 28px;
    border: 0px;
}

#pre-form-src{
    margin-bottom: 0px;
}

#form-src{
    width: 362px;
    height: 52px;
    border-radius: 5px;
    margin-left: 33px;
    margin-bottom: 17px !important;
    background: #FFFFFF !important;
    background-image: url(image\ 11.png) !important;
    background-repeat: no-repeat !important;
    text-indent: 20px !important;
    background-position: 310px !important;
}

#text-ask{
    width: 377px;
    height: 208px;
    padding-top: 27px;
    padding-left: 29px;
    margin-bottom: 50px !important;
    margin-left: auto;
    margin-right: auto;
}

#warn-faq{
    margin-top: 43px;
    margin-bottom: 18px;
}

/* #form-src:focus{
    background-image: none;
} */

/* .btn-primary{
    height: 60px!important;
    width: 400px !important;
    background: #FF7A45 !important;
    border-color: #FF7A45!important;
}

.rating .btn-primary{
    height: 60px!important;
    width: 200px !important;
    border-radius: 15px;
    font-weight: bold;
} */

a{
    color: #FF7A45!important;
}

#register{
    margin-top:60px;
}

.form-check{
    margin-top:0px !important;
    margin-left: -40px;
    padding-left: 0px !important;
    margin-bottom:48px;
}

.form-check-input{
    width:20px!important;
    height:20px!important;
}

.form-check-label{
    font-size:16px;
    margin-top: 5px!important;
    margin-left: 10px;
}

.rating input[type=radio] {
    display: none;
}
.rating input + label {
    font-size: 60px;
    -webkit-text-stroke: 1px #FFB800;
    color: #FFB800;
    cursor: pointer;
}

.rating input:checked + label ~ label {
    color:white;
}
.rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}