@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat Light;
  src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf);
}

.pembayaran-pilihmetodepembayaran24-container {
    min-height: 100vh;
}

.pembayaran-pilihmetodepembayaran24-pembayaran-pilihmetodepembayaran24 {
    width: 428px;
    height: 847px;
    display: flex;
    position: relative;
    max-width: 428px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 40%;
}

.pembayaran-pilihmetodepembayaran24-group122625 {
    top: 0px;
    left: -1px;
    width: 429px;
    height: 101px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    justify-content: flex-start;
    background-color: rgba(34, 34, 34, 1);
}

.pembayaran-pilihmetodepembayaran24-group1179211 {
    top: 29px;
    left: 366px;
    width: 42px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-svg {
    width: 42;
    height: 44;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-image {
    top: 14.666666984558105px;
    left: 14.699971199035645px;
    width: 13px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-image01 {
    width: 35px;
    object-fit: cover;
    margin-left: 10px;
}

.pembayaran-pilihmetodepembayaran24-image02 {
    width: 100px;
    object-fit: cover;
    margin-left: 30px;
}

.pembayaran-pilihmetodepembayaran24-image03 {
    top: 96px;
    left: -1px;
    width: 429px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
}

.pembayaran-pilihmetodepembayaran24-text {
    top: 149px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    width: 354px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-group1227219 {
    top: 233px;
    left: 24px;
    width: 368px;
    height: 280px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-image04 {
    top: 17px;
    left: 11px;
    width: 357px;
    height: 263px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.pembayaran-pilihmetodepembayaran24-text04 {
    top: 218px;
    left: 157px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-svg1 {
    top: 216px;
    left: 129px;
    width: 22;
    height: 22;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-text05 {
    top: 249px;
    left: 274px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-svg2 {
    top: 247px;
    left: 246px;
    width: 22;
    height: 22;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-text06 {
    top: 183px;
    left: 66px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-image05 {
    top: 50px;
    left: 40px;
    width: 57px;
    height: 26px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-image06 {
    top: 80px;
    left: 40px;
    width: 95px;
    height: 20px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-image07 {
    top: 106px;
    left: 40px;
    width: 70px;
    height: 20px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-group1201229 {
    top: 132px;
    left: 40px;
    width: 106px;
    height: 25px;
    display: flex;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
}

.pembayaran-pilihmetodepembayaran24-text07 {
    top: 4px;
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 102px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-svg3 {
    top: 181px;
    left: 38px;
    width: 22;
    height: 22;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-svg4 {
    top: 172.009765625px;
    left: 38px;
    width: 323;
    height: 1px;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-text08 {
    top: 6px;
    left: 24px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-image08 {
    position: absolute;
    object-fit: cover;
}

.pembayaran-pilihmetodepembayaran24-text09 {
    top: 6px;
    left: 16px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-svg5 {
    top: 57px;
    left: 231px;
    width: 85;
    height: 85;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-svg6 {
    top: 69px;
    left: 243px;
    width: 62;
    height: 62;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-group1228239 {
    top: 542px;
    left: 24px;
    width: 368px;
    height: 234px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-image09 {
    top: 23px;
    left: 11px;
    width: 357px;
    height: 211px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.pembayaran-pilihmetodepembayaran24-group1225241 {
    top: 0px;
    left: 0px;
    width: 146px;
    height: 208px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.pembayaran-pilihmetodepembayaran24-svg7 {
    top: 60px;
    left: 38px;
    width: 97;
    height: 97;
    position: absolute;
}

.pembayaran-pilihmetodepembayaran24-image10 {
    top: 0px;
    left: 0px;
    position: absolute;
    object-fit: cover;
}

.pembayaran-pilihmetodepembayaran24-text10 {
    top: 6px;
    left: 38px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-group1202245 {
    top: 183px;
    left: 40px;
    width: 106px;
    height: 25px;
    display: flex;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
}

.pembayaran-pilihmetodepembayaran24-text11 {
    top: 4px;
    left: 2px;
    color: rgba(255, 255, 255, 1);
    width: 102px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.pembayaran-pilihmetodepembayaran24-svg8 {
    top: 51px;
    left: 231px;
    width: 85;
    height: 85;
    position: absolute;
}

@media(max-width: 479px) {
    .pembayaran-pilihmetodepembayaran24-image02 {
        width: 102px;
        height: 44px;
        z-index: 100;
        margin-left: 30px;
    }

    .pembayaran-pilihmetodepembayaran24-image04 {
        left: 5px;
        right: -11px;
        bottom: -27px;
    }

    .pembayaran-pilihmetodepembayaran24-group1201229 {
        top: 132px;
        left: 40px;
        border-radius: var(--dl-radius-radius-radius4);
    }

    .pembayaran-pilihmetodepembayaran24-image09 {
        top: 5px;
        right: -20px;
    }

    .pembayaran-pilihmetodepembayaran24-group1202245 {
        border-radius: var(--dl-radius-radius-radius4);
    }

    .pembayaran-pilihmetodepembayaran24-text11 {
        top: 4px;
        left: 2px;
    }
}

.pembayaran-lakukanpembayarannn-button {
    left: 130px;
    width: 169px;
    bottom: 26px;
    height: 25px;
    margin: auto;
    display: flex;
    position: absolute;
    padding: 3px;
    box-shadow: 0px 2px 4px 0px #d4d4d4;
    text-align: center;
    font-family: Montserrat;
    color: #FFFFFF;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    background-color: #83c11b;
    border-radius: 5px;
    z-index: 100;
}





:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-default-volcano81bf5: rgba(255, 122, 69, 1);
    --dl-space-space-oneandhalfunits: 24px;
}

.button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
}

.list-item {
    display: list-item;
}

.teleport-show {
    display: flex !important;
}

.content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

/** Second Page **/

.pembayaran-lakukanpembayaran249-container {
    min-height: 100vh;
  }
  .pembayaran-lakukanpembayaran249-pembayaran-lakukanpembayaran249 {
    width: 428px;
    height: 847px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 428px;
    box-sizing: border-box;
    align-items: flex-end;
    border-color: transparent;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 40%;
  }
  .pembayaran-lakukanpembayaran249-image {
    top: 249px;
    left: 40px;
    width: 357px;
    height: 399px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgba(255, 255, 255, 1);
  }
  .pembayaran-lakukanpembayaran249-image1 {
    top: 0px;
    left: -1px;
    width: 429px;
    height: 101px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(34, 34, 34, 1);
  }
  .pembayaran-lakukanpembayaran249-group1179256 {
    top: 29px;
    left: 365px;
    width: 42px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .pembayaran-lakukanpembayaran249-svg {
    width: 42;
    height: 44;
    position: absolute;
  }
  .pembayaran-lakukanpembayaran249-image2 {
    top: 14.666666984558105px;
    left: 14.699971199035645px;
    width: 13px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-lakukanpembayaran249-image3 {
    top: 96px;
    left: -1px;
    width: 429px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-lakukanpembayaran249-text {
    top: 149px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    width: 354px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-image4 {
    top: 288px;
    left: 66px;
    width: 176px;
    height: 37px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-lakukanpembayaran249-svg1 {
    top: 292px;
    left: 258px;
    width: 29;
    height: 29;
    position: absolute;
  }
  .pembayaran-lakukanpembayaran249-image5 {
    top: 459px;
    left: 76px;
    width: 291px;
    height: 62px;
    position: absolute;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 1);
  }
  .pembayaran-lakukanpembayaran249-text04 {
    top: 466px;
    left: 89px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text05 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text09 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text10 {
    top: 434px;
    left: 66px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text11 {
    top: 531px;
    left: 66px;
    color: rgba(0, 0, 0, 1);
    width: 292px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat Light;
    font-weight: 300px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text15 {
    top: 358px;
    left: 66px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text16 {
    top: 384px;
    left: 76px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text17 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text18 {
    color: rgba(255, 122, 69, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-group1205272 {
    top: 599px;
    left: 68px;
    width: 163px;
    height: 25px;
    display: flex;
    position: absolute;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-lakukanpembayaran249-text19 {
    top: 2px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-svg2 {
    top: 5px;
    left: 15px;
    width: 13;
    height: 13;
    position: absolute;
  }
  .pembayaran-lakukanpembayaran249-group1202276 {
    left: 0px;
    right: 0px;
    width: 213px;
    bottom: 106px;
    height: 26px;
    margin: auto;
    display: flex;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-lakukanpembayaran249-text20 {
    top: 4px;
    left: 17px;
    color: rgba(255, 255, 255, 1);
    width: 183px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text21 {
    top: 683px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    right: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text22 {
    left: 0px;
    color: rgba(0, 0, 0, 1);
    right: 0px;
    bottom: 86px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat Regular;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text23 {
    left: 0px;
    color: rgba(0, 0, 0, 1);
    right: 0px;
    bottom: 58px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat Regular;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text24 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-text25 {
    color: rgba(255, 122, 69, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-lakukanpembayaran249-button {
    left: 130px;
    width: 169px;
    bottom: 26px;
    height: 25px;
    margin: auto;
    display: flex;
    position: absolute;
    padding: 3px;
    box-shadow: 0px 2px 4px 0px #d4d4d4;
    text-align: center;
    font-family: Montserrat;
    color: #FFFFFF;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    background-color: #83c11b;
    border-radius: 5px;
  }
  
  
  
  
  .pembayaran-lakukanpembayaran249-text26 {
    top: 3px;
    left: 13px;
    color: #ffffff;
    margin: auto;
    position: absolute;
    text-align: center;
    font-weight: 700;
  }
  .pembayaran-lakukanpembayaran249-image6 {
    top: 28px;
    left: 75px;
    width: 102px;
    position: absolute;
    object-fit: cover;
  }
  .pembayaran-lakukanpembayaran249-image7 {
    top: 36px;
    left: 10px;
    width: 35px;
    margin: auto;
    margin-left: 40%;
    position: absolute;
    object-fit: cover;
  }
  
  
  
  
  
  
  
  
  
  :root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-default-volcano81bf5: rgba(255, 122, 69, 1);
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
  }
  .content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }













  /** Third Payment Page **/
  
  .pembayaran-berhasil282-container {
    min-height: 100vh;
  }
  .pembayaran-berhasil282-pembayaran-berhasil282 {
    width: 428px;
    height: 1146px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 428px;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 40%;
  }
  .pembayaran-berhasil282-image {
    top: 0px;
    left: 0px;
    width: 429px;
    height: 101px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(34, 34, 34, 1);
  }
  .pembayaran-berhasil282-group1179288 {
    top: 29px;
    left: 366px;
    width: 42px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .pembayaran-berhasil282-svg {
    width: 42;
    height: 44;
    position: absolute;
  }
  .pembayaran-berhasil282-image1 {
    top: 14.666666984558105px;
    left: 14.699971199035645px;
    width: 13px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-berhasil282-image2 {
    top: 96px;
    left: 0px;
    width: 429px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-berhasil282-text {
    top: 178px;
    left: 38px;
    color: rgba(0, 0, 0, 1);
    width: 354px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-berhasil282-image3 {
    top: 249px;
    left: 143px;
    width: 144px;
    height: 144px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-berhasil282-image4 {
    right: 34px;
    width: 164px;
    bottom: 103px;
    height: 46px;
    position: absolute;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgba(49, 205, 35, 1);
    border-top-left-radius: var(--dl-radius-radius-radius2);
  }
  .pembayaran-berhasil282-text1 {
    left: 245px;
    color: rgba(255, 255, 255, 1);
    bottom: 112px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-berhasil282-image5 {
    left: 36px;
    width: 164px;
    bottom: 102px;
    height: 46px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-berhasil282-text2 {
    left: 81px;
    color: rgba(255, 255, 255, 1);
    bottom: 111px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-berhasil282-image6 {
    top: 431px;
    left: 0px;
    right: 0px;
    width: 70%;
    margin: auto;
    position: absolute;
    object-fit: cover;
  }
  .pembayaran-berhasil282-image7 {
    top: 31px;
    left: 75px;
    width: 100px;
    position: absolute;
    object-fit: cover;
    margin-left: 40%;
  }
  .pembayaran-berhasil282-image8 {
    top: 42px;
    left: 21px;
    width: 31px;
    position: absolute;
    object-fit: cover;
    margin-left: 40%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  :root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-default-volcano81bf5: rgba(255, 122, 69, 1);
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
  }
  .content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }



  /** Fourth Payment Page **/

  .pembayaran-gagal2131-container {
    min-height: 100vh;
  }
  .pembayaran-gagal2131-pembayaran-gagal2131 {
    width: 428px;
    height: 800px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 428px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 40%;
  }
  .pembayaran-gagal2131-image {
    top: 0px;
    left: 0px;
    width: 429px;
    height: 101px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(34, 34, 34, 1);
  }
  .pembayaran-gagal2131-group11792137 {
    top: 29px;
    left: 366px;
    width: 42px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .pembayaran-gagal2131-svg {
    width: 42;
    height: 44;
    position: absolute;
  }
  .pembayaran-gagal2131-image1 {
    top: 14.666666984558105px;
    left: 14.699971199035645px;
    width: 13px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-gagal2131-image2 {
    top: 96px;
    left: 0px;
    width: 429px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-gagal2131-text {
    top: 178px;
    left: 38px;
    color: rgba(0, 0, 0, 1);
    width: 354px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text01 {
    top: 445px;
    left: 51px;
    color: rgba(0, 0, 0, 1);
    width: 326px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text02 {
    color: rgba(0, 0, 0, 1);
    width: 326px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text06 {
    color: rgba(0, 0, 0, 1);
    width: 326px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat Regular;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-image3 {
    top: 533px;
    left: 132px;
    width: 164px;
    height: 46px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: rgba(49, 205, 35, 1);
  }
  .pembayaran-gagal2131-text07 {
    top: 541px;
    left: 175px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-image4 {
    top: 249px;
    left: 142px;
    width: 144px;
    height: 144px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .pembayaran-gagal2131-group12062151 {
    top: 656px;
    left: 122px;
    width: 183px;
    height: 25px;
    display: flex;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: rgba(255, 122, 69, 1);
  }
  .pembayaran-gagal2131-text08 {
    top: 4px;
    left: 3.4527511596679688px;
    color: rgba(255, 255, 255, 1);
    padding: 0.1px;
    width: 179px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat-Medium;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text09 {
    top: 631px;
    left: 152px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat Regular;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text10 {
    top: 691px;
    left: 200px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text11 {
    top: 719px;
    left: 172px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text12 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat Regular;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-text13 {
    color: rgba(255, 122, 69, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Montserrat Regular;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .pembayaran-gagal2131-image5 {
    top: 31px;
    left: 75px;
    width: 100px;
    position: absolute;
    object-fit: cover;
    margin-left: 40%;
  }
  .pembayaran-gagal2131-image6 {
    top: 39px;
    left: 10px;
    width: 31px;
    position: absolute;
    object-fit: cover;
    margin-left: 40%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  :root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-default-volcano81bf5: rgba(255, 122, 69, 1);
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
  }
  .content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }